/* selettori delle sezioni */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav.navbar-default {
    background-color: #2C3E50;
    border: none;
    margin: 0;
    padding: 25px 0;
    font-weight: bold;
    font-size: 16px;
}

section.jumbotron {
    padding-top: 150px;
    background-color: #1ABC9C;
}

section#portfolio {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #2C3E50;
}

section#about {
    background-color: #1ABC9C;
    padding: 80px 0;
}

section#contact {
    color: #2C3E50;
    padding: 80px 0;
}

footer div#footer-top {
    background-color: #2c3e50;
    padding: 50px 0;
}

footer div#footer-bottom  {
    background-color: #1A252F;
    padding: 15px 0;
}

/* inizio selettori specifici (inseriti in ordine di applicazione) */

/* selettori sezione "header" */
.navbar-brand {
    font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: inherit;
    font-weight: bold;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle .icon-bar {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar-brand:focus,
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-toggle:focus,
 .navbar-default .navbar-toggle:hover {
    color: inherit;
    background-color: inherit;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1ABC9C;
    background-color: transparent;
}

/* selettori sezione "jumbortron" */
.jumbotron h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0;
}

.jumbotron img {
    max-width: 35%;
}

.star-separate {
    width: 280px;
    position: relative;
    padding: 35px 0;
    color: inherit;
}

.star-separate i {
    font-size: 30px;
}

.star-separate::before {
    content: "";
    height: 4px;
    width: 100px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
}

.star-separate::after {
    content: "";
    height: 4px;
    width: 100px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
}

/* selettori sezione "portfolio"*/
section  h2 {
    font-size: 37px;
    font-weight: bold;
    margin: 0;
    color: inherit;
}

section#portfolio .star-separate::before,
section#portfolio .star-separate::after {
    background-color: #2C3E50;
}

.image-contain {
    padding-bottom: 30px;
}

.card {
    border-radius: 15px;
}

/* selettori sezione "about" */
#about p {
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 1.5em;
}

.btn-default {
    color: white;
    background-color: #1ABC9C;
    border: 2px solid white;
    border-radius: 8px;
    padding: 18px;
}

.btn-default:hover {
    color: black;
    background-color: white;
    border: 0;
}

section#about .btn-default span {
    color: inherit;
    padding-right: 5px;
}

/* selettori sezione "contact" */
section#contact .star-separate::before,
section#contact .star-separate::after {
    background-color: #2C3E50;
}

form {
    padding: 20px 0;
}

.form-control {
    border: 0;
    font-size: 20px;
    border-top: 0;
    padding: 30px 0;
}

.form-group:nth-child(4) .form-control {
    padding-bottom: 150px;
}

.form-group button {
    padding: 20px 30px;
    margin-top: 15px;
}

form .btn-default:hover {
    color: #fff;
    background-color: #159a80;
}

/* selettori sezione footer */
#footer-top h3 {
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 30px;
}

#footer-info-contain,
#footer-about-freelancer {
    font-size: 1.3em;
}

#footer-social-logo-contain i {
    font-size: 1.3em;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

ul#footer-social-logo-contain {
    margin-bottom: 20px;
}

#footer-about-freelancer span a {
    color: #1abc9c;
}
